@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
 
body {
    font-family: 'Barlow', sans-serif;
    background-color:#EFF6FF;
    display:flex;
    gap:0;
    margin:40px;
}
.left{
    background-image: url("photo/bg.jpg");
    background-position:left;
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 100px;
    width:700px;
}
.right{
    flex:1;
    background-color:#FFFFFF;
    padding:50px;
}
.logo{
    margin-top: 30px;
    margin-left: 30px;
}
h1,h2{
    margin-bottom:10px;
    color:#2A4A5C; 
    font-weight: normal;
} 
.text,button[type=submit],.checkbox{
    color:#96A5B1;
}
h1+p,h2+p{
    color: #617580;
}
.button-container{
    display:flex;
    gap: 40px;
    margin-top : 50px;
    margin-bottom: 50px;

}
.button-logo{
    width:20px;
}
.facebook{
    display:flex;
    flex:1;
    background-color:#255A9B;
    border:none;
    width:250px;
    height:50px; 
    align-items: center; 
    justify-content: flex-start;
    gap: 10px;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.linkedin{
    background-color:#0076B6;
    display:flex;
    flex:1;
    border:none;
    width:250px;
    height:50px; 
    align-items: center; 
    justify-content: flex-start;
    gap: 10px;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 50px;
}

.line {
    height: 1px;
    width:40%;
    background-color: #ccc; 
    margin: 0 10px; 
}

.or-text {
    color: black; 
    font-size: 14px;   
}
.input-container {
    display:flex;
    gap: 40px;
    margin-bottom: 50px;
}

.input-container input {
    width: 250px;
    height: 50px;
    border-top-right-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px 10px 5px;
    box-sizing: border-box;
}
.input-wrapper {
    position: relative;
    display: flex;
}

input[type="email"] {
    border-left: 2px solid #0076B6;
}
.input-container label {
    position: absolute;
    top: 5px;
    left: 10px;
    font-family:'Barlow', sans-serif;
    color: gray;
    background: white;
    pointer-events: none;
}
h2+p{
    margin-bottom: 50px;
}
.radio-container label{
    margin-left:40px;
 }
 .radio-container label:first-of-type{
     margin-left: 0px;
 }
 .text{
    position: left;
    width:250px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07); 
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: white;
}
a:link{
    color:#0076B6;
}
a:visited{
    color:purple;
}
button[type=submit]{
    width:250px;
    height: 50px;
    text-align: center;
    color:white;
    background-color:#4da4f0 ;
    border:none;
    border-radius: 5px;
    margin-top: 50px;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}
.icon{
    color:lightgrey
}