@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
 
body {
    font-family: 'Barlow', sans-serif;
    background-color:#EFF6FF;
    display:flex;
    gap:0;
    margin:40px;
}
.left{
    background-image: url("photo/bg.jpg");
    background-position:left;
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 100px;
    width:700px;
}
.right{
    flex:1;
    background-color: white;
    padding:50px;
}
.logo{
    margin-top: 30px;
    margin-left: 30px;
}
h1,h2{
    margin-bottom:10px;
    color:#2A4A5C; 
    font-weight: normal;
} 
p,.checkbox{
    color:lightslategray;
}
.button-container{
    display:flex;
    gap: 40px;
    margin-top : 50px;
    margin-bottom: 50px;

}
.button-logo{
    width:20px;
}
.facebook{
    display:flex;
    flex:1;
    background-color:#255A9B;
    border:none;
    width:250px;
    height:50px; 
    align-items: center; 
    justify-content: flex-start;
    gap: 10px;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.linkedin{
    background-color:#0076B6;
    display:flex;
    flex:1;
    border:none;
    width:250px;
    height:50px; 
    align-items: center; 
    justify-content: flex-start;
    gap: 10px;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:50px;
}

.line {
    height: 1px;
    width:40%;
    background-color: #ccc; 
    margin: 0 10px; 
}

.or-text {
    color: black; 
    font-size: 14px;
    
}